mixin interest(data)
    section.interest
        .interest__container.container
            h2.interest__title Вас может заинтересовать
            +nav(nav.interestsList).interest__nav.nav_interests
