mixin appeal(data)
    section.appeal
        .appeal__container
            dl.appeal__stats
                .appeal__stats-item
                    dd.appeal__stats-desc 2013 г.
                    dt.appeal__stats-term Дата основания

                .appeal__stats-item
                    dd.appeal__stats-desc >300
                    dt.appeal__stats-term Домов построенно

                .appeal__stats-item
                    dd.appeal__stats-desc 2 мес.
                    dt.appeal__stats-term Сроки строительства

                .appeal__stats-item
                    dd.appeal__stats-desc 6,5 млн
                    dt.appeal__stats-term Средняя стоимость

                .appeal__stats-item
                    a.appeal__stats-link(href="#") Больше о нашей компании


            .appeal__entry
                .appeal__entry-title Приветствуем будущих домовладельцев!
                .appeal__entry-text.text
                    p Мы строим дома уже четверть века и сегодня имеем огромный опыт в возведении кирпичных, монолитных и газобетонных сооружений любого размера, дизайна и типа.
                    p Возводим объекты с нуля под ключ, а также подключаемся на любом этапе вашей текущей стройки, доводя до желаемого результата любой старт.
                    p Наша команда 23 года на рынке загородного строительства, и мы всё время учимся новому, считая для себя важным идти в ногу с современными тенденциями в дизайне и технологиях.
                    p Заказывайте строительство дома у нас и Вы обретёте приятный опыт, поскольку с нами Вы сможете по-настоящему расслабиться и быть спокойными за конечный результат.
                    p Ко всему прочему Вам не потребуется нанимать другие бригады для выполнения ландшафтных работ и благоустройства, а также мелких строительных работах, необходимых дополнительно.
                    p Всё, что необходимо современному человека для проживания в своем родовом гнезде, мы готовы выполнить. Обращайтесь!


            figure.appeal__image

                picture
                    source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/appeal-image@2x.webp" media="(min-width: 960px)")
                    source(type="image/jpeg", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/appeal-image@2x.jpg" media="(min-width: 960px)")

                    source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/appeal-image@2x.webp" media="(min-width: 640px)")
                    source(type="image/jpeg", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/appeal-image@2x.jpg" media="(min-width: 640px)")

                    source(type="image/webp", media="(min-width: 240px)" srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/appeal-image@2x.webp" )
                    source(type="image/jpeg", media="(min-width: 240px)" srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/appeal-image@2x.jpg" )

                    img.lazy(src="static/img/general/placeholder-image.webp" alt="Изображение", data-src="static/img/content/appeal-image.jpg" )

                figcaption Мартьянов Константин Георгиевич
