.social {
    &__list {
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include mq($medium) {
        }
    }
    &__item {
        margin-left: 20px;
        @include mq($medium) {
            @include margin-left(20px);
        }
        &:first-child {
            margin-left: 0;
        }
    }

    &__link {
        color: $black;
        @include tr(.3s ease);

        &:hover {
            color: $black;
            @include tr(.3s ease);
        }

    }

    &__icon {

    }
}
